.invitation-container {
  position: relative;
  width: 100%;
  max-width: 1015px;
  aspect-ratio: 1015 / 1079;
  margin: 0 auto;
  transition: transform 0.2s ease;
}

.background-image {
  display: block;
  width: 100%;
  height: auto;
  transition: width 0.3s ease;
  transform: translateX(10%);
}

.card {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 1rem;
  font-family: 'Luckiest Guy', cursive;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  left: -5%;
}

/* ... otros estilos ... */

@media (max-width: 700px) {
  .background-image {
    width: 130vw;
    height: auto;
    margin-left: -10vw;
  }
  .card {
    transform: scale(0.9);
    left: -5%;
  }
}

@media (max-width: 500px) {
  .background-image {
    width: 150vw;
    margin-left: -10vw;
  }
  .card {
    transform: scale(0.85);
    left: -5%;
  }
}